<h1 style="color:mediumorchid;text-align:center">Division Problems</h1>
<br />
<div style="text-align:center">
    <div style="margin-right:550px">
        <h3 style="text-align:right">
            &nbsp;&nbsp; @ViewBag.Dividend <br />
            / &nbsp; @ViewBag.Divisor
        </h3>
    </div>
    <br />
    <form action="/Math/DivAnswer" method="post">
        Answer:  <input type="number" id="answer" name="answer" />
        <input type="hidden" id="divisor" name="divisor" value="@ViewBag.Divisor" />
        <input type="hidden" id="dividend" name="dividend" value="@ViewBag.Dividend" />
        <input type="hidden" id="level" name="level" value="@ViewBag.Level" />
        <input type="submit" value="Submit Answer" style="background-color:lightblue" />
    </form>
</div>
<br />
<button onclick="document.location='/Math/Index'" style="background-color:lightblue">Return to Math Index</button>