<h1 style="text-align:center">Statistics</h1>
<br />
<h3>Math Stats</h3>
<br />
<div>
    Addition Easy: Wins = @ViewBag.AddLevel1Wins  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Losses = @ViewBag.AddLevel1Losses <br />
    Addition Medium: Wins = @ViewBag.AddLevel2Wins &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Losses = @ViewBag.AddLevel2Losses <br />
    Addition Hard: Wins = @ViewBag.AddLevel3Wins &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Losses = @ViewBag.AddLevel3Losses <br />
</div>
<br />
<div>
    Subtraction Easy: Wins = @ViewBag.SubLevel1Wins  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Losses = @ViewBag.SubLevel1Losses <br />
    Subtraction Medium: Wins = @ViewBag.SubLevel2Wins &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Losses = @ViewBag.SubLevel2Losses <br />
    Subtraction Hard: Wins = @ViewBag.SubLevel3Wins &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Losses = @ViewBag.SubLevel3Losses <br />
</div>