<h1 style="text-align:center"> Details for @ViewBag.StudentFirstName  @ViewBag.StudentLastName</h1>
<br />
<p><b>Student Email: </b> @ViewBag.StudentEmail</p>
<p><b>Teacher: </b> @ViewBag.TeacherFirstName  @ViewBag.TeacherLastName</p>
<p><b>Teacher Email: </b> @ViewBag.TeacherEmail</p>