<h1 style="text-align:center">Detailed Information for @ViewBag.StudentFirst  @ViewBag.StudentLast</h1>
<br />
<p><b>Student Id: </b>@ViewBag.StudentId</p>
<p><b>Student Email: </b>@ViewBag.StudentEmail</p>
<p><b>Parent Name: </b>@ViewBag.ParentFirst  @ViewBag.ParentLast </p>
<p><b>Parent Email: </b>@ViewBag.ParentEmail</p>