<h1 style="text-align:center">Progress Report for @ViewBag.FirstName  @ViewBag.LastName</h1>
<br />
<table style="width:100%" class="table-bordered">
    <thead>
        <tr>
            <th>Problem Set</th>
            <th>Correct</th>
            <th>Incorrect</th>
            <th>Percent Correct</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Addition Level 1</td>
            <td>@ViewData["additionLevel1Correct"]</td>
            <td>@ViewData["additionLevel1Incorrect"]</td>
            <td>@ViewData["additionLevel1Percent"]</td>
        
        </tr>
        <tr>
            <td>Addition Level 2</td>
            <td>@ViewData["additionLevel2Correct"]</td>
            <td>@ViewData["additionLevel2Incorrect"]</td>
            <td>@ViewData["additionLevel2Percent"]</td>
        </tr>
        <tr>
            <td>Addition Level 3</td>
            <td>@ViewData["additionLevel3Correct"]</td>
            <td>@ViewData["additionLevel3Incorrect"]</td>
            <td>@ViewData["additionLevel3Percent"]</td>
        </tr>
        <tr>
            <td>Subtraction Level 1</td>
            <td>@ViewData["subtractionLevel1Correct"]</td>
            <td>@ViewData["subtractionLevel1Incorrect"]</td>
            <td>@ViewData["subtractionLevel1Percent"]</td>
        </tr>
        <tr>
            <td>Subtraction Level 2</td>
            <td>@ViewData["subtractionLevel2Correct"]</td>
            <td>@ViewData["subtractionLevel2Incorrect"]</td>
            <td>@ViewData["subtractionLevel2Percent"]</td>
        </tr>
        <tr>
            <td>Subtraction Level 3</td>
            <td>@ViewData["multiplicationLevel3Correct"]</td>
            <td>@ViewData["multiplicationLevel3Incorrect"]</td>
            <td>@ViewData["subtractionLevel3Percent"]</td>
        </tr>
        <tr>
            <td>Multiplication Level 1</td>
            <td>@ViewData["multiplicationLevel1Correct"]</td>
            <td>@ViewData["multiplicationLevel1Incorrect"]</td>
            <td>@ViewData["multiplicationLevel1Percent"]</td>
        </tr>
        <tr>
            <td>Multiplication Level 2</td>
            <td>@ViewData["multiplicationLevel2Correct"]</td>
            <td>@ViewData["multiplicationLevel2Incorrect"]</td>
            <td>@ViewData["multiplicationLevel2Percent"]</td>
        </tr>
        <tr>
            <td>Multiplication Level 3</td>
            <td>@ViewData["multiplicationLevel3Correct"]</td>
            <td>@ViewData["multiplicationLevel3Incorrect"]</td>
            <td>@ViewData["multiplicationLevel3Percent"]</td>
        </tr>
        <tr>
            <td>Division Level 1</td>
            <td>@ViewData["divisionLevel1Correct"]</td>
            <td>@ViewData["divisionLevel1Incorrect"]</td>
            <td>@ViewData["divisionLevel1Percent"]</td>
        </tr>
        <tr>
            <td>Division Level 2</td>
            <td>@ViewData["divisionLevel2Correct"]</td>
            <td>@ViewData["divisionLevel2Incorrect"]</td>
            <td>@ViewData["divisionLevel2Percent"]</td>
        </tr>
        <tr>
            <td>Division Level 3</td>
            <td>@ViewData["divisionLevel3Correct"]</td>
            <td>@ViewData["divisionLevel3Incorrect"]</td>
            <td>@ViewData["divisionLevel3Percent"]</td>
        </tr>
        <tr>
            <td>Science: Periodic Table - Number to Name</td>
            <td>@ViewData["numbertonameCorrect"]</td>
            <td>@ViewData["numbertonameIncorrect"]</td>
            <td>@ViewData["numbertonamePercent"]</td>
        </tr>
        <tr>
            <td>Science: Periodic Table - Name to Number</td>
            <td>@ViewData["nametonumberCorrect"]</td>
            <td>@ViewData["nametonumberIncorrect"]</td>
            <td>@ViewData["nametonumberPercent"]</td>
        </tr>
        <tr>
            <td>Science: Periodic Table - Name to Symbol</td>
            <td>@ViewData["nametosymbolCorrect"]</td>
            <td>@ViewData["nametosymbolIncorrect"]</td>
            <td>@ViewData["nametosymbolPercent"]</td>
        </tr>
        <tr>
            <td>Science: Periodic Table - Symbol to Name</td>
            <td>@ViewData["symboltonameCorrect"]</td>
            <td>@ViewData["symboltonameIncorrect"]</td>
            <td>@ViewData["symboltonamePercent"]</td>
        </tr>
        <tr>
            <td>Science: Planet - Short Answer</td>
            <td>@ViewData["shortanswerCorrect"]</td>
            <td>@ViewData["shortanswerIncorrect"]</td>
            <td>@ViewData["shortanswerPercent"]</td>
        </tr>
        <tr>
            <td>Science: Planet - True/False</td>
            <td>@ViewData["trueorfalseCorrect"]</td>
            <td>@ViewData["trueorfalseIncorrect"]</td>
            <td>@ViewData["trueorfalsePercent"]</td>
        </tr>
    </tbody>
</table>